{
    "configurations": [
        {
            "name": "C51",
            "includePath": [
                "${workspaceFolder}/**",
                "${env:KEIL_C51_DIR}/INC/**"
            ],
            "defines": [
                "__C51__",
                "__VSCODE_C51__",
                "reentrant=",
                "compact=",
                "small=",
                "large=",
                "data=",
                "idata=",
                "pdata=",
                "bdata=",
                "xdata=",
                "code=",
                "bit=char",
                "sbit=char",
                "sfr=char",
                "sfr16=int",
                "sfr32=int",
                "interrupt=",
                "using=",
                "_at_=",
                "_priority_=",
                "_task_="
            ],
            "intelliSenseMode": "${default}",
            "compilerArgs": [
                "-Wno-error"
            ],
            "cStandard": "c11",
            "cppStandard": "c++17",
            "browse": {
                "path": [
                    "${workspaceFolder}",
                    "${env:KEIL_C51_DIR}/INC"
                ],
                "limitSymbolsToIncludedHeaders": false,
                "databaseFilename": ""
            }
        }
    ],
    "version": 4
}
